body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    color: white;
}

#game-board {
    position: relative;
    width: 500px;
    height: 500px;
    border: 1px solid #61dafb;
}

.snake {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #8061fb;
}

.food {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ff6347;
}