* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #cbcbcb;
    padding: 10px;
    gap: 10px;
}
/* Peru */
#Peru {
    display: flex;
    width: 900px;
    height: 600px;
    background-color: white;
    /* border: 1px solid black; */
    flex-direction: row;
    gap: 300px;
}
#Peru > .b {
    height: 600px;
    width: 300px;
    background-color: red;
}
#England {
    display: flex;
    width: 900px;
    height: 600px;
    background-color: red;
    /* border: 1px solid black; */
    flex-wrap: wrap;
    gap: 50px;
}
#England > .b{
    height: 275px;
    width: 425px;
    background-color: white;
}